* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button { cursor: pointer; }

h1 {
    font-size: 2.4em;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    font-size: 1.4em;
    text-align: center;
}

h4 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #ff9800;
}

h6 {
    margin-bottom: 10px;
    font-size: 1em;
    color: #ff9800;
}

p { text-align: left; }

iframe {
    height: 315px;
    width: 560px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

input:focus { outline: none; }

a {
    text-decoration: none;
    color: #fff;
}

select[disabled] {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

@media only screen and (max-width: 760px) {
    iframe {
        height: 245px;
        width: 435px;
    }
}

@media only screen and (max-width: 440px) {
    iframe {
        height: 195px;
        width: 345px;
    }
}

/* UTILIYY CLASSES */

.container { display: flex; }

.overlay {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background: rgba(20, 20, 20, .95);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    cursor: zoom-out;
}

.overlay .closing-btn {
    padding: 10px 15px;
    color: #fff;
    font-size: 1.6em;
    font-weight: bold;
    cursor: pointer;
}

.form-control {
    padding: 15px;
    text-align: left;
}

.btn {
    display: inline-block;
    padding: 8px 12px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border-radius: 5px;
}

.btn-dark { background: #009688; }

.btn-light { background: #ff9800; }

[class$="-showcase"] {
    position: relative;
    background-position: top;
    background-size: contain;
    margin: 20px 0;
}

[class$="-showcase"] h1 {
    position: absolute;
    background: rgba(80, 80, 80, .8);
    top: 30px;
    left: 50%;
    width: 500px;
    padding: 20px;
    transform: translate(-50%, 0);
    color: #fff;
    border-radius: 10px;
    box-shadow: 4px 4px 6px -4px #9e9e9e;
}

[class$="-showcase"] h2 {
    padding: 0 5px;
    font-size: 2em;
    color: #009688;
}

[class*="-wrapper"] h3 {
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #ff9800;
}

[class*="-wrapper"] article {
    background: rgba(200, 200, 200, .4);
    position: relative;
    width: 65%;
    margin: 10px 20px;
    padding: 20px;
    border: 1px dotted #666;
    border-radius: 5px;
    box-shadow: 4px 4px 6px -4px #9e9e9e;
}

[class*="-wrapper"] [class*="-img"] {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center top;
    border-radius: 5px;
}

[class*="-wrapper"] .author-info {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: .8em;
    color: #fff;
}

.author-info span {
    background: #fff;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid #ff9800;
    border-radius: 5px;
    color: #ff9800;
}

.author-info a:hover { border-bottom: 1px solid #ff9800; }

[class*="-wrapper"] p {
    margin: 10px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.4;
}

[class*="-wrapper"] aside {
    width: 35%;
    margin: 10px;
    padding: 0 10px;
}

[class*="single-"] {
    padding: 20px 40px;
}

[class*="single-"] article {
    width: auto;
    margin: 20px;
    padding: 20px 40px;
}

[class*="single-"] [class*="-img"] { height: 420px; }

[class$="-heading"] {
    background-position: top;
    background-size: cover;
    height: 200px;
    margin: 10px 0;
    padding-top: 150px;
    border-radius: 5px;
}

[class$="-heading"] h3,
[class$="-heading"] h5 {
    background: rgba(80, 80, 80, .8);
    height: 50px;
    padding: 10px 5px 0 5px;
    color: #ff9800;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

[class*="-form"] input[type="checkbox"] {
    flex-grow: 0;
    height: 24px;
    width: 24px;
    opacity: 0;
    cursor: pointer;
}

[class*="-form"] .checkmark {
    position: absolute;
    top: 50%;
    height: 24px;
    width: 24px;
    pointer-events: none;
    transform: translate(0, -50%);
    border-radius: 5px;
    line-height: .8;
}

[class*="-form"] input[type="checkbox"]:checked ~ .checkmark:before {
    content: "\2713";
    font-size: 28px;
    color: #009688;
}

.blurred {
    color: transparent;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: all .8s ease;
}

.blurred:hover {
    color: inherit;
    text-shadow: none;
}

[class*="-message"] {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #fdfdfd;
    opacity: 1;
    transition: opacity 2s ease-in-out;
}

[class*="-message"].opaque { opacity: 0; }

.success-message { background: #009688; }

.error-message {
    background: #b71c1c;
    margin-bottom: 10px;
}

.exit-btn { cursor: pointer; }

.non-required {
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    color: #444;
}

.top-slide { animation: slideInFromTop .8s ease-in; }

.right-slide { animation: slideInFromRight .8s ease-in; }

.bottom-slide { animation:slideInFromBottom .8s ease-in; }

.left-slide { animation: slideInFromLeft .8s ease-in; }

@keyframes slideInFromTop {
    0% {
        transform: translateY(-300%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
  
    100% {
      transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
      transform: translateY(300%);
    }
  
    100% {
      transform: translateY(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInToRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

@media only screen and (max-width: 900px) {
    [class*="single-"] article { padding: 20px; }
}

@media only screen and (max-width: 680px) {
    .container { flex-direction: column; }
}

@media only screen and (max-width: 520px) {
    [class$="-showcase"] h1 { width: 90%; }
}

/* HEADER SECTION */

header {
    position: relative;
    background: #009688;
    height: 80px;
}

nav { padding: 0 5px; }

.branding {
    flex: 40%;
    padding: 0 15px 0 5px;
}

.branding img { height: 80px; }

.navigation {
    flex: 60%;
    padding: 30px 5px;
    text-align: center;
}

.navigation li {
    display: inline;
    padding: 0 10px;
}

.navigation a {
    padding-bottom: 5px;
    text-transform: uppercase;
    color: #ddd;
}

.navigation a.active,
.navigation a:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.hamburger-menu {
    display: none;
    margin-right: 10px;
    padding: 30px 5px;
}

.hamburger-menu i {
    color: #fff;
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .branding { flex: 15%; }

    .navigation { flex: 85%; }
}

@media only screen and (max-width: 760px) {
    .branding { flex: 50%; }

    .navigation { display: none; }

    .navigation.block {
        position: absolute;
        top: 70px;
        left: 0;
        background: #009688;
        display: block;
        width: 100%;
        padding-bottom: 10px;
        z-index: 2;
    }

    .navigation.block li {
        display: block;
        text-align: left;
        padding: 0;
        border-bottom: 1px dotted #ddd;
    }

    .navigation.block li:first-child {
        border-top: 1px dotted #ddd;
    }

    .navigation.block a {
        display: block;
        width: 100%;
        padding: 10px 15px;
    }

    .navigation.block a.active,
    .navigation.block a:hover {
        border-bottom: none;
    }

    .hamburger-menu {
        display: block;
        flex: 50%;
        text-align: right;
    }
}

@media only screen and (max-width: 680px) {
    header .container { flex-direction: row; }   
}

/* SHOWCASE SECTION */

.showcase {
    position: relative;
    background-image: url(../assets/background.jpg);
    background-position: center;
    background-size: cover;
    min-height: 540px;
    height: 80vh;
}

.showcase::before,
.showcase::after {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}

.showcase-text {
    position: absolute;
    background: rgba(80, 80, 80, .8);
    top: 15%;
    left: 5%;
    width: 35%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    z-index: 1;
}

.showcase-text h1 {
    margin-bottom: 10px;
    color: #ff9800;
}

.showcase-text p {
    margin-bottom: 10px;
    color: #fff;
    line-height: 1.4;
}

.showcase-form {
    position: absolute;
    background: rgba(80, 80, 80, .8);
    bottom: -5%;
    right: 5%;
    width: 35%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    z-index: 1;
}

.showcase-form h2 {
    margin-bottom: 0;
    font-size: 1.6em;
    color: #009688;
}

.showcase-form .form-control {
    position: relative;
    display: flex;
    align-items: center;
}

.showcase-form label {
    display: inline-block;
    width: 40%;
    margin-right: 5px;
    color: #fff;
}

.showcase-form input, .showcase-form select {
    background: rgba(80, 80, 80, .8);
    flex-grow: 100;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    line-height: 1.8;
    color: #fff;
}

.showcase-form input:valid { border: 1px solid #009688; }

.showcase-form .check {
    flex-grow: 1;
    width: fit-content;
    margin-right: 0;
    padding-left: 10px;
    font-size: .9em;
    text-align: justify;
    line-height: 1.2;
}

.showcase-form .checkmark {
    background: rgba(80, 80, 80, .8);
    border: 1px solid #fff;
}

.showcase-form input[type="checkbox"]:checked ~ .checkmark { border: 1px solid #009688; }

.showcase-form .invalid { border: 1px solid #b71c1c; }

.showcase-form button {
    width: 40%;
    font-weight: bold;
}

.showcase-form [class*="-message"] {
    margin: 5px 15px 10px;
    border-radius: 5px;
    font-size: .8em;
}

@media only screen and (max-width: 1024px) {
    .showcase-text, .showcase-form { width: 40%; }

    .showcase-form label { font-size: .9em; }

    .showcase-form .check { font-size: .8em; }
}

@media only screen and (max-width: 768px) {
    .showcase { flex-direction: column; }

    .showcase-text,
    .showcase-form {
        position: relative;
        top: 0;
        left: 0;
        width: 75%;
        margin: 15px auto;
    }

    .showcase-form label { font-size: 1em; }

    .showcase-form .check { font-size: .9em; }
}

@media only screen and (max-width: 440px) {
    .showcase-text, .showcase-form { width: 85%; }

    .showcase-text h1 { font-size: 1.6em; }

    .showcase-form label { font-size: .9em; }

    .showcase-form .check { font-size: .8em; }
}

/* QUOTE SECTION */

.quote {
    min-height: 110px;
    margin-top: 110px;
}

.quote.shown { animation: slideInFromLeft .8s ease-in; }

.quote.exiting { animation: slideInToRight .8s ease-in; }

.quote.hidden { display: none; }

.quote blockquote, .quote small {
    display: inline-block;
    width: 100%;
    margin: auto;
    padding: 0 10px;
    text-align: center;
}

.quote blockquote {
    font-size: 1.6em;
    color: #222;
}

.quote small {
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: #444;
}

/* CLIENT SECTION */

.client-wrapper {
    margin: 20px 0;
    padding: 10px;
}

.client {
    flex-basis: 100%;
    background: rgba(200, 200, 200, .4);
    margin: 5px 15px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 6px -4px #9e9e9e;
}

.client h3 {
    margin-bottom: 10px;
    color: #ff9800;
}

.client img {
    float: left;
    width: 40%;
    margin: 0 5px 5px 0;
    border: 2px solid #009688;
    border-radius: 15px;
}

.client p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.4;
    color: #222;
}

@media only screen and (max-width: 1024px) {
    .client img {
        width: 100%;
        margin: 0 0 10px 0;
    }
}

/* COURSES SECTION */

.courses {
    background-image: url(../assets/library.jpg);
    background-size: cover;
    background-position: center;
    height: 160px;
    padding: 40px 20px;
    text-align: center;
}

.courses h3 {
    background: rgba(80, 80, 80, .8);
    margin: 0 80px 20px 80px;
    padding: 5px;
    font-size: 1.6em;
    color: #fff;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    .courses { padding: 20px 10px; }

    .courses h3 { margin: 0 20px 20px 20px; }   
}

/* COMMENTS SECTION */

.comments-wrapper {
    justify-content: space-around;
    margin-top: 40px;
}

.comments { width: 40%; }

.comments h3 {
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #009688;
}

.comment {
    padding: 20px;
    border: 1px dotted #222;
}

.comment p {
    margin-bottom: 20px;
    color: #222;
}

.contacts { width: 40%; }

.contacts h3 {
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #ff9800;
}

.contacts form {
    padding: 10px;
    border: 1px dotted #222;
}

.contacts .form-control {
    margin-bottom: 20px;
    padding: 15px 0;
}

.contacts label {
    display: inline-block;
    width: 40%;
}

.contacts input,
.contacts select {
    float: right;
    width: 55%;
    border-radius: 5px;
    line-height: 1.8;
    color: #222;
}

.contacts input { padding: 5px 8px; }

.contacts input:valid:required { border: 1px solid #009688; }

.contacts select {
    padding: 8px 5px;
    border-width: 2px;
}

.contacts .invalid { border: 1px solid #b71c1c; }

.contacts button { width: 100%; }

.contacts [class*="-message"] {
    border-radius: 5px;
    font-size: .8em;
}

.contacts p {
    margin: 0;
}

@media only screen and (max-width: 680px) {
    .comments-wrapper { margin-top: 10px; }

    .comments,
    .contacts {
        width: 85%;
        margin: 10px auto;
    }

    .contacts label { width: 30%; }

    .contacts input, .contacts select { width: 65%; }
}

/* BLOG SECTION */

.blog-wrapper {
    background: rgba(200, 200, 200, .4);
    margin-top: 20px;
    padding: 20px 0 80px 0;
    border-top: 1px dotted #ccc;
}

.blog-wrapper h3 { color: #009688; }

.blog { justify-content: space-around; }

.blog-wrapper a { width: 30%; }

.blog-card {
    background: #fff;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.blog-card img {
    width: 100%;
    filter: grayscale(40%);
    transition: filter .8s ease-in-out;
}

.blog-card:hover img { filter: grayscale(0%); }

.blog-card h4 {
    margin-top: 5px;
    font-size: 1.6em;
}

.blog-card time {
    margin-bottom: 5px;
    font-size: .8em;
    color: #009688;
}

@media only screen and (max-width: 680px) {
    .blog-wrapper a {
        width: 85%;
        margin: 10px auto;
    }
}

/* LINK SECTION */

.link-wrapper {
    margin-top: 20px;
    padding: 20px 0 40px 0;
}

.link-wrapper a {
    display: block;
    margin: 10px;
    text-align: center;
    color: #009688;
}

.link-wrapper a:hover {
    color: #00796b;
    text-decoration: underline;
}

/* ABOUT PAGE */

.message-wrapper {
    background-image: url(../assets/fun.jpg);
    background-position: center;
    background-size: cover;
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px dotted #222;
}

.message-wrapper h3 {
    background: rgba(80, 80, 80, .8);
    width: 560px;
    margin: 20px auto;
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    opacity: 0;
}

.message-wrapper iframe { opacity: 0; }

.message-wrapper .top-slide, .message-wrapper .bottom-slide { opacity: 1; }

.about-wrapper { padding: 20px 0; }

.about-wrapper h3 { padding: 0 5px; }

.about-container {
    background: rgba(200, 200, 200, .4);
    margin: 0 40px;
    border: 1px dotted #9e9e9e;
    border-radius: 5px;
    box-shadow: 4px 4px 6px -4px #9e9e9e;
}

.img-container { width: 40%; }

.img-container img {
    display: block;
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 4px 4px 6px -4px #9e9e9e;
}

.img-container a {
    display: block;
    width: 80%;
    margin: 20px auto;
}

.text-container {
    width: 60%;
    margin: 10px 0;
    padding: 0 20px;
}

.text-container p {
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.4;
    color: #222;
}

.values-wrapper {
    background: rgba(200, 200, 200, .4);
    padding: 20px 0;
}

.values-wrapper h3 { color: #009688; }

.values-wrapper .subheading { text-align: center; }

.values {
    justify-content: space-around;
    margin-top: 20px;
}

.value-card {
    position: relative;
    background: #fff;
    width: 22.5%;
    padding: 10px;
    box-shadow: 4px 4px 6px -4px #9e9e9e;
    cursor: pointer;
}

.value-card-title {
    background-position: top;
    background-size: cover;
    height: 200px;
    padding-top: 150px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}

.value-card-title h4 {
    background: rgba(80, 80, 80, .8);
    height: 50px;
    padding-top: 10px;
    text-align: center;
}

.value-card.flipped .value-card-title { transform: rotateY(180deg); }

.value-card-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background: rgba(80, 80, 80, .8);
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
    transform: rotateY(180deg);
    overflow: auto;
}

.value-card-back h4, .value-card-back p {
    padding: 0 10px;
    text-align: center;
}

.value-card-back h4 { margin-bottom: 5px; }

.value-card-back p {
    margin-top: 5px;
    color: #fff;
}

.value-card-back::-webkit-scrollbar { width: 10px; }

.value-card-back::-webkit-scrollbar-thumb {
    background: rgba(200, 200, 200, .4);
    width: 5px;
    border-radius: 10px;
}

.value-card.flipped .value-card-back { transform: rotate(0); }

@media only screen and (max-width: 1024px) {
    .values { flex-wrap: wrap; }

    .value-card {
        width: 40%;
        margin: 20px 0;
    }
}

@media only screen and (max-width: 760px) {
    .message-wrapper h3 { width: 435px; }

    .about-container {
        flex-direction: column;
        margin: 0 20px;
    }

    .img-container, .text-container { width: 100%; }

    .img-container { padding: 0 20px; }

    .img-container img, .img-container a { width: 100%; }
}

@media only screen and (max-width: 680px) {
    .value-card {
        width: 80%;
        margin: 20px auto;
    }
}

@media only screen and (max-width: 440px) {
    .message-wrapper h3 { width: 345px; }
}

/* INTERVIEW PAGE */

.interview-wrapper { padding: 20px; }

.interview-inner-wrapper {
    background: rgba(200, 200, 200, .4);
    margin: 20px;
    padding: 20px;
    border: 1px dotted #666;
    border-radius: 5px;
    box-shadow: 4px 4px 6px -4px #9e9e9e;
}

.interview-inner-wrapper:nth-child(1) {
    background-image: url(../assets/interview.jpg);
    background-position: center;
    background-size: cover;
    padding-bottom: 40px;
    text-align: center;
}

.interview-inner-wrapper .interview-img {
    display: block;
    height: auto;
    width: 60%;
    object-fit: contain;
    margin: 20px auto;
    padding: 0 20px;
}

.interview-inner-wrapper h3 { text-align: left; }

.interview-inner-wrapper h6 {
    margin: 20px 0;
    font-size: 1.4em;
    color: #009688;
}

.interview-inner-wrapper p {
    margin: 10px 0;
    line-height: 1.4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media only screen and (max-width: 1024px) {
    .interview-inner-wrapper .interview-img { width: 80%; }
}

@media only screen and (max-width: 760px) {
    .interview-wrapper { padding: 20px 0; }

    .interview-inner-wrapper .interview-img { width: 100%; }
}

@media only screen and (max-width: 440px) {
    .interview-inner-wrapper iframe { width: 100%; }
}

/* COURSES PAGE */

.course-wrapper {
    justify-content: space-around;
    padding: 30px 10px;
    border-top: 1px dotted #ccc;
}

.course-wrapper:nth-child(odd) { background: rgba(200, 200, 200, .4); }

.course-wrapper:nth-child(odd) h3 { color: #ff9800; }

.course-wrapper:nth-child(even) h3 { color: #009688; }

.course-image-wrapper { width: 45%; }

.course-image-wrapper img {
    display: block;
    width: 95%;
    margin: auto;
}

.course-text-wrapper { width: 45%; }

.course-text-wrapper p {
    margin-bottom: 20px;
    line-height: 1.4;
}

@media only screen and (max-width: 680px) {
    .course-wrapper:nth-child(even) { flex-direction: column-reverse; }

    .course-image-wrapper,
    .course-text-wrapper {
        width: 90%;
        margin: 10px auto;
    }

    .course-text-wrapper a {
        display: block;
        margin: 0 auto;
    }
}

/* COURSE PAGE */

.single-course-wrapper article { display: flex; }

.single-course-wrapper [class*="-img"] { height: auto; }

.single-course-wrapper button {
    display: block;
    width: 100%;
    margin: 20px auto 10px;
}

.single-course-wrapper .price-container {
    background:rgba(200, 200, 200, .4);
    position: relative;
    padding: 20px;
    box-shadow: 4px 4px 6px -4px #9e9e9e;
    text-align: center;
}

.price-container .price-element {
    margin-bottom: 5px;
    color: #444;
    opacity: 0;
    transition: opacity 1.2s ease-in-out;
}

.price-container.opaque .price-element {
    opacity: 1;
    transition: opacity .8s ease-in-out;
}

.price-container span { color: #009688; }

.price-container .price-overlay {
    background: rgba(80, 80, 80, .8);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 0;
    cursor: pointer;
    transition: opacity .8s ease-in-out;
}

.price-container .price-overlay.opaque {
    opacity: 1;
    transition: opacity 1.2s ease-in-out;
}

@media only screen and (max-width: 760px) {
    .single-course-wrapper { padding: 20px 0; }

    .single-course-wrapper article { flex-direction: column; }
}

/* FEEDBACK PAGE */

.feedback-showcase {
    background-image: url(../assets/feedback.jpg);
    height: 200px;
    margin: 0;
}

.feedback-btn-container,
.feedback-form {
    position: absolute;
    background: rgba(80, 80, 80, .8);
    width: 500px;
    padding: 20px;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 10px;
}

.feedback-btn-container.hidden, .feedback-form.hidden { display: none; }

.feedback-btn-container button {
    width: 100%;
    font-weight: bold;
}

.feedback-btn-container .success-message {
    position: absolute;
    top: 17px;
    width: 460px;
    border-radius: 5px;
}

.feedback-form .closing-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 5px 10px;
    color: #b71c1c;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    z-index: 5;
}

.feedback-form .form-control { position: relative; }

.feedback-form label {
    position: absolute;
    top: 20px;
    left: 20px;
    display: block;
    width: 100%;
    color: #fff;
    cursor: text;
    transition: all .6s ease-in-out;
}

.feedback-form input,
.feedback-form textarea {
    background: inherit;
    width: 100%;
    color: #fff;
    line-height: 1.4;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #ff9800;
}

.feedback-form textarea { overflow: hidden; }

.feedback-form input:focus, .feedback-form textarea:focus { outline: none; }

.feedback-form input:focus + label,
.feedback-form input:valid + label,
.feedback-form textarea:focus + label,
.feedback-form textarea:valid + label,
.feedback-form .top-positioned {
    top: 0;
    font-size: 12px;
    cursor: default;
}

.feedback-form input:valid, .feedback-form textarea:valid { border-bottom: 1px solid #009688; }

.feedback-form .invalid { border-bottom: 1px solid #b71c1c; }

.feedback-form button { width: 100%; }

.feedback-form .error-message {
    margin-top: 5px;
    font-size: .8em;
}

.feedback-form .error-message:first-child { margin: 20px 15px; }

.feedback-wrapper {
    background: rgba(200, 200, 200, .4);
    justify-content: space-around;
    padding: 20px 0;
}

.feedback { width: 40%; }

.feedback h2 { color: #009688; }

.feedback-card {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ff9800;
    border-radius: 10px;
    box-shadow: 4px 4px 6px -4px #9e9e9e;
}

.feedback-card.hidden { display: none; }

.feedback-container {
    margin-bottom: 10px;
    overflow: hidden;
}

.feedback-container img {
    float: left;
    max-height: 95%;
    max-width: 25%;
    margin: 0 20px 10px 0;
    padding: 2px;
    border: 1px dotted #ccc;
    border-radius: 5px;
}

.feedback-container p { margin-bottom: 20px; }

.practices { width: 40%; }

.practices h2 { color: #ff9800; }

.practice-card {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #009688;
    border-radius: 10px;
    text-align: right;
    box-shadow: 4px 4px 6px -4px #9e9e9e;
}

.practice-card.hidden { display: none; }

.practice-card p { margin-bottom: 20px; }

@media only screen and (max-width: 900px) {
    .feedback-container img { max-width: 30%; }
}

@media only screen and (max-width: 680px) {
    .feedback-btn-container,
    .feedback-form {
        width: 90%;
        margin: 0 auto;
    }

    .feedback-btn-container .success-message { width: calc(100% - 40px); }

    .feedback, .practices {
        width: 90%;
        margin: 0 auto;
    }

    .practices { margin-top: 20px; }
}

/* COMMENT PAGE */

.comment-wrapper {
    align-items: flex-start;
    margin: 10px 20px;
}

.comment-wrapper .article-image-container {
    background: #fdfdfd;
    float: left;
    width: 20%;
    margin: 0 10px 10px 0;
    padding: 10px;
    border: 1px dotted #222;
}

.comment-wrapper [class*="-img"]  {
    height: auto;
    max-width: 100%;
    object-fit: initial;
    object-position: initial;
    border-radius: initial;
}

.comment-wrapper .image-name {
    display: block;
    padding-top: 5px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .8em;
}

.comment-wrapper .author-info {
    background: rgba(80, 80, 80, .8);
    border-radius: 5px;
}

.comment-wrapper h4 {
    background: rgba(200, 200, 200, .4);
    padding: 10px 0;
    border: 1px dotted #666;
    border-radius: 5px;
    box-shadow: 4px 4px 6px -4px #9e9e9e;
    text-align: center;
    color: #009688;
}

.comment-wrapper .selected-comment {
    padding: 10px;
    border: 1px dotted #222;
    transition: background-color .6s ease-in-out;
}

.comment-wrapper a:nth-child(2) .selected-comment, .comment-wrapper a:nth-child(3) .selected-comment { border-bottom: none; }

.comment-wrapper .selected-comment:hover { background: rgba(200, 200, 200, .4); }

.selected-comment h5 {
    padding: 10px 5px;
    font-size: 1.4em;
    color: #ff9800;
}

.selected-comment p {
    padding: 0 5px 10px;
    color: #222;
}

@media only screen and (max-width: 1024px) {
    .comment-wrapper .article-image-container { width: 30%; }
}

@media only screen and (max-width: 900px) {
    .comment-wrapper .article-image-container { width: 100%; }
}

@media only screen and (max-width: 680px) {
    .comment-wrapper article,
    .comment-wrapper aside {
        width: 100%;
        margin: 10px 0;
    }

    .comment-wrapper aside { padding: 0; }
}

/* PRACTICE PAGE */

.practice-wrapper {
    align-items: flex-start;
    margin: 10px 20px;
}

.practice-wrapper .author-info {
    background: rgba(80, 80, 80, .8);
    border-radius: 5px;
}

.practice-wrapper h4 {
    background: rgba(200, 200, 200, .4);
    padding: 10px 0;
    border: 1px dotted #666;
    border-radius: 5px;
    box-shadow: 4px 4px 6px -4px #9e9e9e;
    text-align: center;
    color: #009688;
}

.practice-wrapper .selected-practice {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px dotted #ff9800;
    border-radius: 5px;
}

.practice-wrapper .practice-heading {
    height: auto;
    padding-top: 0;
}

.practice-heading h5 {
    height: auto;
    padding: 15px 5px;
    text-align: center;
    font-size: 1.2em;
    border-radius: 5px;
}

.practice-heading a { color: #ff9800; }

.practice-heading a:hover { border-bottom: 1px solid #ff9800; }

@media only screen and (max-width: 680px) {
    .practice-wrapper article,
    .practice-wrapper aside {
        width: 100%;
        margin: 10px 0;
    }

    .practice-wrapper aside { padding: 0; }
}

/* EVENTS PAGE */

.events-showcase {
    background-image: url(../assets/event.jpg);
    margin: 0;
    padding: 40px 0;
}

.events-showcase.dark {
    background: rgba(80, 80, 80, .8);
    padding: 20px 0;
}

.events-showcase h2 {
    background: rgba(80, 80, 80, .8);
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
    border: 1px solid #ff9800;
    border-radius: 10px;
}

.events-showcase.dark h2 { border: 1px solid #009688; }

.event-wrapper {
    justify-content: space-around;
    padding: 30px 10px;
    border-top: 1px dotted #ccc;
}

.event-wrapper:nth-child(odd) { background: rgba(200, 200, 200, .4); }

.event-wrapper:nth-child(odd) h3 { color: #ff9800; }

.event-wrapper:nth-child(even) h3 { color: #009688; }

.event-image-wrapper { width: 45%; }

.event-image-wrapper img {
    display: block;
    width: 95%;
    margin: auto;
}

.event-text-wrapper { width: 45%; }

.event-text-wrapper p {
    margin-bottom: 20px;
    line-height: 1.4;
}

.events-wrapper { padding: 20px 0; }

.events-wrapper .container { justify-content: space-around; }

.events-wrapper a {
    display: block;
    width: 30%;
}

.event-card {
    background-position: top;
    background-size: cover;
    position: relative;
    height: 300px;
    padding-top: 260px;
    border: 1px dotted #009688;
    border-radius: 5px;
    box-shadow: 4px 4px 6px -4px #9e9e9e;
    cursor: pointer;
    filter: grayscale(0%);
    transition: filter .6s ease-in-out;
}

.event-card h4 {
    background: rgba(80, 80, 80, .8);
    height: 40px;
    padding-top: 8px;
    text-align: center;
    transition: color .6s ease-in-out;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-card .fa {
    background: rgba(80, 80, 80, .8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: #fff;
    border-radius: 50%;
    border: 2px solid #9e9e9e;
    opacity: 0;
    transition: opacity .6s ease-in-out;
}

.event-card:hover { filter: grayscale(80%); }

.event-card:hover h4 { color: #fff; }

.event-card:hover .fa { opacity: 1; }

.signup-form-container {
    background: #444;
    position: fixed;
    top: 25%;
    left: 50%;
    display: none;
    width: 60%;
    transform: translate(-50%, 0);
    padding: 10px;
    border: 1px dotted #ddd;
    border-radius: 5px;
    color: #fff;
    z-index: 2;
}

.signup-form-container.visible { display: block; }

.signup-form-container .form-control { margin-bottom: 20px; }

.signup-form-container label {
    display: inline-block;
    width: 40%;
}

.signup-form-container input,
.signup-form-container select {
    float: right;
    width: 55%;
    border-radius: 5px;
    line-height: 1.8;
    color: #222;
}

.signup-form-container input { padding: 5px 8px; }

.signup-form-container input.invalid { border: 3px solid #b71c1c; }

.signup-form-container input:valid:required { border: 3px solid #009688; }

.signup-form-container select {
    padding: 8px 5px;
    border-width: 2px;
}

.signup-form-container button {
    display: block;
    width: 80%;
    margin: 40px auto 20px;
}

.signup-form-container [class*="-message"] {
    margin: 0 15px;
    border-radius: 5px;
}

@media only screen and (max-width: 1024px) {
    .signup-form-container { width: 80%; }
}

@media only screen and (max-width: 680px) {
    .event-wrapper:nth-child(even) { flex-direction: column-reverse; }

    .event-image-wrapper,
    .event-text-wrapper {
        width: 90%;
        margin: 10px auto;
    }

    .event-text-wrapper button {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .events-wrapper a {
        width: 90%;
        margin: 10px auto;
    }

    .signup-form-container { width: 90%; }
}

@media only screen and (max-width: 520px) {
    .events-showcase h2 {
        width: 90%;
        font-size: 1.6em;
    }
}

/* EVENT PAGE */

.gallery-container { height: 475px; }

.gallery-container [class*="-slider"] {
    position: relative;
    height: 475px;
    padding: 5px 0;
}

.gallery-container .left-slider {
    width: 75%;
    overflow: hidden;
}

.gallery-container .left-slider.overlayed {
    overflow: visible;
}

.left-slider i {
    position: absolute;
    top: 50%;
    background: rgba(80, 80, 80, .8);
    padding: 5px 15px;
    transform: translate(0, -50%);
    cursor: pointer;
    color: #fff;
}

.left-slider i:hover { background: rgba(80, 80, 80, 1); }

.left-slider [class*="-right"] { right: 0; }

.left-slider [class*="-left"] { left: 0; }

.left-slider .image-container {
    position: absolute;
    top: 5px;
    width: 100%;
    transition: left .5s ease-in;
    z-index: -1;
}

.left-slider .previous-container { left: -100%; }

.left-slider .current-container {
    left: 0;
    z-index: 0;
}

.left-slider .next-container { left: 125%; }

.left-slider .image-container.full-size { z-index: 1; }

.image-container .gallery-img {
    position: relative;
    height: 465px;
    width: 100%;
    top: 0;
    left: 0;
    object-position: center 15%;
    cursor: zoom-in;
    opacity: 0;
    transition: all .5s ease-in;
}

.current-container .gallery-img { opacity: 1; }

.current-container .gallery-img.full-size {
    top: -40px;
    left: 15%;
    cursor: default;
    z-index: 2;
    transform: scale(1.2);
}

.gallery-container .right-slider {
    width: 25%;
    margin-left: 20px;
}

.gallery-container .right-slider.overlayed {
    z-index: -1;
}

.right-slider .right-container {
    position: absolute;
    top: 162px;
    height: 151px;
    width: 100%;
    transition: all .5s ease-in;
    opacity: 0;
}

.right-container .right-img {
    height: 100%;
    cursor: pointer;
}

.right-container.previous, .right-container.current, .right-container.next { opacity: 1; }

.right-container.previous, .right-container.next { filter: grayscale(60%) blur(1px); }

.right-container.previous { top: 5px; }

.right-container.next { top: 319px; }

.single-event-wrapper button {
    display: block;
    margin: 20px auto;
}

.event-video-container {
    position: fixed;
    top: 25%;
    left: 50%;
    display: none;
    transform: translate(-50%, 0);
    padding: 10px;
    border: 1px dotted #ddd;
    border-radius: 5px;
    color: #fff;
    z-index: 2;
}

.event-video-container.visible {
    display: block;
}

.event-video-container .video {
    display: none;
}

.event-video-container .shown {
    display: block;
}

.event-video-container .dot-container {
    margin-top: 10px;
    text-align: center;
}

.event-video-container .dot {
    display: inline-block;
    background: rgba(200, 200, 200, .4);
    height: 15px;
    width: 15px;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
}

.event-video-container .selected {
    background: #009688;
}

@media only screen and (max-width: 760px) {
    .single-event-wrapper { padding: 20px 0; }
}

@media only screen and (max-width: 680px) {
    .gallery-container [class*="-slider"] { padding: 5px 0; }
    .gallery-container .left-slider {
        height: 280px;
        width: 100%;
    }

    .current-container .gallery-img.full-size {
        left: .5%;
        transform: scale(1.1);
    }

    .gallery-container .right-slider {
        flex-direction: row;
        height: 120px;
        width: 100%;
        margin-left: 0;
    }

    .right-slider .right-container {
        top: 5px;
        height: 110px;
        width: 32%;
    }

    .right-container.previous { right: 68%; }

    .right-container.current { right: 34%; }

    .right-container.next { right: 0; }
}

/* BLOG PAGE */

.blog-showcase {
    background-image: url(../assets/blog.jpg);
    height: 150px;
    margin: 0;
}

.blog-showcase h1 { border: 1px solid #009688; }

.blog-container {
    justify-content: space-around;
    flex-wrap: wrap;
}

.blog-post {
    background: rgba(200, 200, 200, .4);
    width: 30%;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ff9800;
    border-radius: 10px;
    box-shadow: 4px 4px 6px -4px #9e9e9e;
}

.blog-post .author,
.blog-post time {
    display: inline-block;
    margin: 0 0 10px 0;
    font-size: .8em;
    color: #666;
}

.blog-post p { margin-bottom: 20px; }

.empty-space { width: 30%; }

@media only screen and (max-width: 1024px) {
    .blog-post, .empty-space { width: 45%; }
}

@media only screen and (max-width: 680px) {
    .blog-post {
        width: 90%;
        margin: 20px auto;
    }
}

/* POST PAGE */

.post-showcase h2 { color: #ff9800; }

.post-wrapper {
    align-items: flex-start;
    margin: 10px 20px;
}

.post-wrapper .author-info {
    background: rgba(200, 200, 200, .4);
    position: absolute;
    top: 386px;
    width: calc(100% - 40px);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.post-wrapper [class*="-message"] p { margin: 0; }

.post-wrapper .hidden {
    display: none;
}

.post-wrapper .video-wrapper { text-align: center; }

.video-wrapper iframe {
    max-width: 560px;
    width: 80%;
}

.comment-container h5,
.comment-form-container h5 {
    padding: 10px 0;
    font-size: 1.2em;
    color: #009688;
}

.comment-card {
    padding: 20px;
    border-right: 1px dotted #666;
    border-bottom: 1px dotted #666;
    border-left: 1px dotted #666;
    font-size: .92em;
}

.comment-card:nth-child(2) { border-top: 1px dotted #666; }

.comment-card:nth-child(even) {
    background: #fdfdfd;
    color: #222;
}

.comment-card:nth-child(odd) {
    background: #696969;
    color: #fff;
}

.comment-card h6 { margin-bottom: 0; }

.comment-card:nth-child(even) h6 { color: #696969; }

.comment-card:nth-child(odd) h6 { color: #ddd; }

.comment-card:nth-child(even) .commenter { color: #222; }

.comment-card:nth-child(odd) .commenter { color: #ff9800; }

.comment-card time { font-size: .72em; }

.comment-card:nth-child(even) time { color: #9e9e9e; }

.comment-card:nth-child(odd) time { color: #ccc; }

.comment-form .form-control { position: relative; }

.comment-form label {
    position: absolute;
    top: 20px;
    left: 20px;
    display: block;
    width: 100%;
    color: #ff9800;
    cursor: text;
    transition: all .6s ease-in-out;
}

.comment-form input,
.comment-form textarea {
    background: inherit;
    width: 100%;
    line-height: 1.4;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #ff9800;
}

.comment-form input:focus, .comment-form textarea:focus { outline: none; }

.comment-form input:focus + label,
.comment-form input:valid + label,
.comment-form textarea:focus + label,
.comment-form .top-positioned {
    top: 0;
    font-size: 12px;
    cursor: default;
}

.comment-form label span {
    color: #444;
    font-size: .6em;
    vertical-align: top;
}

.post-wrapper h4 {
    background: rgba(200, 200, 200, .4);
    padding: 10px 0;
    border: 1px dotted #666;
    border-radius: 5px;
    box-shadow: 4px 4px 6px -4px #9e9e9e;
    text-align: center;
    color: #009688;
}

.post-wrapper .selected-post {
    padding: 10px;
    border: 1px dotted #ff9800;
}

.post-wrapper a:nth-child(2) .selected-post, .post-wrapper a:nth-child(3) .selected-post { border-bottom: none; }

.post-heading h5 {
    text-align: center;
    font-size: 1.4em;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

@media only screen and (max-width: 1120px) {
    .video-wrapper iframe { width: 100%; }
}

@media only screen and (max-width: 980px) {
    .video-wrapper iframe {
        height: 245px;
        max-width: 435px;
    }
}

@media only screen and (max-width: 680px) {
    .post-wrapper article,
    .post-wrapper aside {
        width: 100%;
        margin: 10px auto;
    }

    .post-wrapper aside { padding: 0; }
}

@media only screen and (max-width: 440px) {
    .video-wrapper iframe {
        height: 195px;
        max-width: 345px;
    }
}

/* CONTACT PAGE */

.contact-showcase {
    background-image: url(../assets/map.jpg);
    height: 150px;
    margin: 0;
}

.contact-showcase h1 { border: 1px solid #ff9800; }

.contact-wrapper {
    background: rgba(200, 200, 200, .4);
    justify-content: space-around;
    padding: 20px 10px;
}

.contact-data {
    background: #fff;
    width: 45%;
    padding: 0 40px 20px;
    box-shadow: 4px 4px 6px -4px #9e9e9e;
}

.contact { margin: 20px 0; }

.contact a { color: #009688; }

.contact-form {
    background: #fff;
    width: 45%;
    box-shadow: 4px 4px 6px -4px #9e9e9e;
}

.contact-form .consultancy-form,
.contact-form .registration-form {
    display: none;
    padding: 20px;
}

.contact-form .visible {
    display: block;
}

.contact-form h3 {
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #ff9800;
}

.contact-form form { padding: 10px; }

.contact-form .form-control {
    position: relative;
    margin-bottom: 20px;
    padding: 15px 0;
}

.contact-form label {
    display: inline-block;
    width: 40%;
}

.contact-form input,
.contact-form select {
    float: right;
    width: 55%;
    padding: 5px;
    border-radius: 5px;
    line-height: 1.8;
    color: #222;
}

.contact-form .checkbox-container { display: flex; }

.contact-form .check {
    flex-grow: 1;
    width: fit-content;
    margin-right: 0;
    padding-left: 10px;
    font-size: .9em;
    text-align: justify;
    line-height: 1.2;
}

.contact-form .checkmark { border: 2px solid #444; }

.contact-form input[type="checkbox"]:checked ~ .checkmark { border: 2px solid #009688; }

.contact-form button { width: 100%; }

@media only screen and (max-width: 768px) {
    .contact-wrapper { flex-direction: column; }

    .contact-data,
    .contact-form {
        width: 90%;
        margin: 10px auto;
    }
}

/* POLICY PAGE */

.policy-wrapper { padding: 20px; }

.policy-wrapper .policy {
    width: auto;
    margin: 20px;
    border: 1px dotted #696969;
}

.policy h4 { margin: 40px 0 20px 0; }

.policy p, .policy li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.4;
}

.policy p, .policy li li { margin: 10px 20px; }

.policy li { margin: 10px 35px; }

@media only screen and (max-width: 760px) {
    .policy-wrapper { padding: 20px 0; }
}

/* 404 PAGE */

.four-o-four-showcase {
    display: flex;
    background: #009688;
    min-height: calc(100vh - 158px);
    margin: 0;
}

.four-o-four-showcase div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.not-found-text {
    width: 40%;
    padding: 0 0 20px 20px;
}

.not-found-text h2 {
    margin-bottom: 20px;
    color: #ff9800;
}

.not-found-text p {
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.4;
    color: #fdfdfd;
}

.not-found-code {
    width: 60%;
    padding: 0 0 20px 40px;
    font-size: 300px;
    color: #b71c1c;
    text-shadow: 5px 5px #00796b;
}

@media only screen and (max-width: 1024px) {
    .not-found-code {
        padding: 0 60px 20px 20px;
        font-size: 220px;
    }
}

@media only screen and (max-width: 900px) {
    .four-o-four-showcase { min-height: calc(100vh - 186px); }

    .not-found-text h2 { font-size: 1.2em; }

    
    .not-found-text p {
        font-size: .9em;
        line-height: 1.2;
    }
}

@media only screen and (max-width: 800px) {
    .four-o-four-showcase {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .not-found-text, .not-found-code {
        width: 100%;
        padding: 0;
    }

    .not-found-text h2, .not-found-text p {
        margin-bottom: 10px;
        padding: 0 10px;
    }

    .not-found-code { font-size: 140px; }
}

@media only screen and (max-width: 680px) {
    .not-found-code { font-size: 100px; }
}


@media only screen and (max-width: 531px) {
    .four-o-four-showcase { min-height: calc(100vh - 204px); }
}

@media only screen and (max-width: 374px) {
    .four-o-four-showcase { min-height: calc(100vh - 222px); }
}

/* BREADCRUMBS */

.breadcrumb-container {
    background: rgba(200, 200, 200, .4);
    padding: 10px 5px 10px 20px;
    border-top: 1px dotted #666;
    border-bottom: 1px dotted #666;
}

.breadcrumb {
    text-transform: uppercase;
    font-size: .72em;
    color: #444;
}

a.breadcrumb { color: #009688; }

a.breadcrumb:hover { color: #00796b; }

/* TAGS */

.tag-container {
    margin: 15px 0;
    padding: 10px 0;
    border-top: 1px dotted #666;
    border-bottom: 1px dotted #666;
    text-align: center;
    font-size: .88em;
}

.tag-container span { color: #666; }

.tag-container a { color: #009688; }

.tag-container a:hover { color: #00796b; }

/* TABS */

.tab-container {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.tab-container .single-tab {
    width: 100%;
    padding: 10px 5px;
    font-size: 1.08em;
    color: #009688;
    text-align: center;
}

.tab-container .tab {
    width: 50%;
    padding: 10px 5px;
    cursor: pointer;
    font-size: 1.08em;
    color: #009688;
    text-align: center;
}

.tab-container .left-tab { border-right: 1px dotted #666; }

.tab-container .closed {
    background: #444;
    border-bottom: 1px dotted #666;
    color: #fff;
}

.tab-container .closed:hover {
    background: #666;
}

/* SUBSCRIBER WARNING */

.subscriber-warning {
    background: #fff;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 1px dotted #666;
    border-radius: 5px;
    text-align: center;
}

.subscriber-warning p { font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.subscriber-warning .form-control { text-align: center; }

.subscriber-warning input {
    line-height: 25px;
    width: calc(60% + 15px);
}

.subscriber-warning button { width: 60%; }

/* PAGINATION */

.pagination {
    margin: 10px auto;
    text-align: center;
}

.pagination span {
    display: inline-flex;
    height: 30px;
    width: 30px;
    border: 1px solid #9e9e9e;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.pagination span:first-child, .pagination span:last-child { color: #009688; }

.pagination span.disabled {
    color: #222;
    cursor: default;
}

.pagination .current {
    background: #009688;
    color: #fff;
}

.pagination span:not(.disabled):hover {
    background: #009688;
    color: #fff;
}

/* FOOTER */

.footer {
    justify-content:  space-between;
    background: #009688;
    padding: 30px 20px;
    color: #fff;
}

.footer p { color: #ddd; }

.footer .icon {
    background: #ff9800;
    padding: 2px 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: .8em;
}

.footer i { color: #fff; }

@media only screen and (max-width: 900px) {
    .footer {
        flex-direction: column;
        padding: 25px 15px;
    }

    .footer .copyright { margin-bottom: 20px; }

    .footer p { text-align: center; }

    .footer .links { text-align: center; }
}