* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    cursor: pointer;
}

h1 {
    font-size: 2.4em;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    font-size: 1.4em;
    text-align: center;
}

h4 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #ff9800;
}

p {
    text-align: left;
}

/* UTILIYY CLASSES*/
.container {
    display: flex;
}

.row {
    display: flex;
    justify-content: space-around;
}

.form-control {
    padding: 15px;
    text-align: left;
}

.btn {
    display: inline-block;
    padding: 8px 12px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}

.btn-dark {
    background: #009688;
}

.btn-light {
    background: #ff9800;
}

[class$="-showcase"] {
    position: relative;
    background-position: top;
    background-size: contain;
}

[class$="-showcase"] h1 {
    position: absolute;
    background:rgba(80, 80, 80, .8);
    top: 30px;
    left: 50%;
    width: 500px;
    padding: 20px;
    transform: translate(-50%, 0);
    color: #fff;
    border-radius: 10px;
    box-shadow: 4px 4px 6px -4px #9e9e9e;
}

@media only screen and (max-width: 420px) {
    .container {
        flex-direction: column;
    }   
}

/* HEADER SECTION */

header {
    background: #009688;
}

nav {
    padding: 25px 5px;
}

.branding {
    flex: 40%;
    padding: 5px 15px;
}

.branding a {
    text-decoration: none;
    color: #fff;
}

.navigation {
    flex: 60%;
    padding: 5px;
    text-align: center;
}

.navigation li {
    display: inline;
    padding: 0 10px;
}

.navigation a {
    padding-bottom: 5px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ddd;
}

.navigation a.active,
.navigation a:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.hamburger-menu {
    display: none;
    padding: 5px;
}

.hamburger-menu i {
    color: #fff;
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .branding {
        flex: 15%;
    }

    .navigation {
        flex: 85%;
    }
}

@media only screen and (max-width: 760px) {
    .branding {
        flex: 50%;
    }
    .navigation {
        display: none;
    }

    .hamburger-menu {
        display: block;
        flex: 50%;
        text-align: right;
    }
}

@media only screen and (max-width: 420px) {
    header .container {
        flex-direction: row;
    }   
}

/* SHOWCASE SECTION */

.showcase {
    position: relative;
    background-image: url(./background.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
}

.showcase::before,
.showcase::after {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}

.showcase-text {
    position: absolute;
    background: rgba(80, 80, 80, .8);
    top: 15%;
    left: 5%;
    width: 35%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    animation: slideInFromLeft .8s ease-in;
}

.showcase-text h1 {
    margin-bottom: 10px;
    color: #ff9800;
}

.showcase-text p {
    margin-bottom: 10px;
    color: #fff;
    line-height: 1.4;
}

.showcase-form {
    position: absolute;
    background: rgba(80, 80, 80, .8);
    bottom: -5%;
    right: 5%;
    width: 35%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    z-index: 1;
    animation: slideInFromRight .8s ease-in;
}

.showcase-form h2 {
    margin-bottom: 0;
    font-size: 1.6em;
    color: #009688;
}

.showcase-form label {
    display: inline-block;
    width: 40%;
    color: #fff;
}

.showcase-form input {
    background: rgba(80, 80, 80, .8);
    width: 55%;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    line-height: 1.8;
    color: #fff;
}

.showcase-form button {
    width: 40%;
    font-weight: bold;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
  
    100% {
      transform: translateX(0);
    }
}


@media only screen and (max-width: 420px) {
    .showcase-text,
    .showcase-form {
        position: relative;
        top: 0;
        left: 0;
        width: 85%;
        margin: 15px auto;
    }
}

/* QUOTE SECTION */

.quote {
    margin-top: 120px;
}

.quote blockquote {
    display: inline-block;
    margin: auto;
    font-size: 1.6em;
    text-align: center;
    color: #222;
}

/* CLIENT SECTION */

.client-wrapper {
    margin-top: 20px;
    padding: 10px;
}

.client {
    flex-basis: 100%;
    background:rgba(200, 200, 200, .4);
    margin: 5px 15px;
    padding: 5px;
    border: 1px solid #ff9800;
    border-radius: 10px;
    box-shadow: 4px 4px 6px -4px #9e9e9e;
}

.client h3 {
    margin-bottom: 10px;
    color: #ff9800;
}

.client img {
    float: left;
    width: 40%;
    margin: 0 5px 5px 0;
    border: 2px solid #009688;
    border-radius: 15px;
}

.client p {
    line-height: 1.4;
    color: #222;
}

/* COURSES SECTION */

.courses {
    background-image: url(./library.jpg);
    background-size: cover;
    height: 160px;
    padding: 40px 20px;
    text-align: center;
}

.courses h3 {
    background:rgba(80, 80, 80, .8);
    margin: 0 80px 20px 80px;
    padding: 5px;
    font-size: 1.6em;
    color: #fff;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    .courses {
        padding: 20px 10px;
    }

    .courses h3 {
        margin: 0 20px 20px 20px;
    }   
}

/* COMMENTS SECTION */

.comments-wrapper {
    justify-content: space-around;
    margin-top: 40px;
}

.comments {
    width: 40%;
}

.comments h3 {
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #009688;
}

.comment {
    padding: 20px;
    border: 1px dotted #222;
}

.comment p {
    margin-bottom: 20px;
    color: #222;
}

.contacts {
    width: 40%;
}

.contacts h3 {
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #ff9800;
}

.contacts form {
    padding: 10px;
    border: 1px dotted #222;
}

.contacts .form-control {
    margin-bottom: 20px;
}

.contacts label {
    display: inline-block;
    width: 40%;
}

.contacts input,
.contacts select {
    float: right;
    width: 55%;
    padding: 5px;
    border-radius: 5px;
    line-height: 1.8;
    color: #222;
}

.contacts button {
    width: 100%;
}

@media only screen and (max-width: 420px) {
    .comments-wrapper {
        margin-top: 10px;
    }

    .comments,
    .contacts {
        width: 85%;
        margin: 10px auto;
    }

    .contacts label {
        width: 30%;
    }

    .contacts input,
    .contacts select {
        width: 65%;
    }
}

/* BLOG SECTION */

.blog-wrapper {
    background:rgba(200, 200, 200, .4);
    margin-top: 20px;
    padding: 20px 0 80px 0;
    border-top: 1px dotted #ccc;
}

.blog-wrapper h3 {
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #009688;
}

.blog {
    justify-content: space-around;
}

.blog-card {
    background: #fff;
    width: 30%;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.blog-card img {
    width: 100%;
    filter: grayscale(40%);
    transition: filter .8s ease-in-out;
}

.blog-card h4 {
    margin-top: 5px;
    font-size: 1.6em;
}

.blog-card:hover img {
    filter: grayscale(0%);
}

@media only screen and (max-width: 420px) {
    .blog-card {
        width: 85%;
        margin: 10px auto;
    }
}

/* COURSES PAGE */

.courses-showcase {
    margin: 20px 0;
}

.courses-showcase h2 {
    font-size: 2em;
    color: #009688;
}

.course-wrapper {
    justify-content: space-around;
    padding: 30px 10px;
    border-top: 1px dotted #ccc;
}

.course-wrapper:nth-child(odd) {
    background: rgba(200, 200, 200, .4);
}

.course-wrapper:nth-child(odd) h3 {
    color: #ff9800;
}

.course-wrapper:nth-child(even) h3 {
    color: #009688;
}

.course-image-wrapper {
    width: 45%;
}

.course-image-wrapper img {
    display: block;
    width: 95%;
    margin: auto;
}

.course-text-wrapper {
    width: 45%;
}

.course-text-wrapper h3 {
    margin-bottom: 20px;
}

.course-text-wrapper p {
    margin-bottom: 20px;
    line-height: 1.4;
}

/* FEEDBACK PAGE */

.feedback-showcase {
    background-image: url(./feedback.jpg);
    height: 300px;
}

.feedback-btn-container,
.feedback-form {
    position: absolute;
    background:rgba(80, 80, 80, .8);
    width: 500px;
    padding: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 10px;
}

.feedback-btn-container {
    top: 100px;
}

.feedback-btn-container button {
    width: 100%;
    font-weight: bold;
}

.feedback-form {
    top: 200px;
}

.feedback-form .form-control {
    position: relative;
}

.feedback-form label {
    position: absolute;
    top: 20px;
    left: 20px;
    display: block;
    width: 100%;
    color: #fff;
    cursor: text;
    transition: all .6s ease-in-out;
}

.feedback-form input,
.feedback-form textarea {
    background: inherit;
    width: 100%;
    color: #fff;
    line-height: 1.4;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #ff9800;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
    outline: none;
}

.feedback-form input:focus + label,
.feedback-form input:valid + label,
.feedback-form textarea:focus + label {
    top: 0;
    font-size: 12px;
    cursor: default;
}

.feedback-form button {
    width: 100%;
}

.feedback-wrapper {
    background: rgba(200, 200, 200, .4);
    justify-content: space-around;
    padding: 20px 0;
}

.feedback {
    width: 40%;
}

.feedback h2 {
    color: #009688;
}

.feedback-card {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ff9800;
    border-radius: 10px;
    box-shadow: 4px 4px 6px -4px #9e9e9e;
}

.feedback-container {
    height: 150px;
    margin-bottom: 10px;
}

.feedback-container img {
    float: left;
    max-height: 95%;
    max-width: 40%;
    margin: 0 20px 10px 0;
    border-radius: 5px;
}

.feedback-container p {
    margin-bottom: 20px;
}

.practices {
    width: 40%;
}

.practices h2 {
    color: #ff9800;
}

.practice-card {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #009688;
    border-radius: 10px;
    text-align: right;
    box-shadow: 4px 4px 6px -4px #9e9e9e;
}

.practice-card p {
    margin-bottom: 20px;
}

/* EVENTS PAGE */

.events-wrapper {
    margin: 20px 0;
}

.events-wrapper h2 {
    font-size: 2em;
    color: #ff9800;
}

/* BLOG PAGE */

.blog-showcase {
    background-image: url(./blog.jpg);
    height: 150px;
}

.blog-showcase h1 {
    border: 1px solid #009688;
}

.blog-container {
    flex-direction: column;
}

.blog-post {
    background: rgba(200, 200, 200, .4);
    width: 30%;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ff9800;
    border-radius: 10px;
    box-shadow: 4px 4px 6px -4px #9e9e9e;
}

.blog-post h3 {
    margin: 10px 0 20px 0;
    color: #009688;
}

.blog-post p {
    margin-bottom: 20px;
}

/* CONTACT PAGE */

.contact-showcase {
    background-image: url(./map.jpg);
    height: 150px;
}

.contact-showcase h1 {
    border: 1px solid #ff9800;
}

/* FOOTER */

.footer {
    background: #009688;
    padding: 30px 10px;
}

.footer p {
    color: #fff;
    text-align: center;
}